@use "../../scss/breakpoint" as *;
@import "../../scss/variables";

* {
  font-family: Brutal, sans-serif;
}

.addresscard {
  background-color: rgb(255, 199, 96);
  color: #202428;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 1px 3px rgba($color: #fff, $alpha: 0.2);
  margin-bottom: 20px;
  padding: 25px 20px 25px 0;
  @include mobile {
    padding: 15px 10px 15px 0;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    @include tablet {
      width: 60px;
    }
    ion-icon {
      pointer-events: none;
      font-size: 3vw;
      @include tablet {
        font-size: 6vw;
      }
    }
  }

  &__headding {
    height: 20px;
    background-color: aqua;
  }

  &__information {
    flex: 1;

    &-name,
    &-location,
    &-description,
    &-phone {
      font-size: 1.3vw;
      padding: 5px 0;
      @include tablet {
        font-size: 2vw;
      }
      @include mobile {
        padding: 2px;
      }
    }
    &-latlng {
      display: block;
      margin: 5px 0;
      @include tablet {
        margin: 2px 0;
      }
    }
    // &-lat {
    //   margin-left: 5px;
    // }
    &-lng,
    &-lat {
      font-size: 0.9vw;
      @include tablet {
        font-size: 1.3vw;
      }
    }

    &-button {
      background-color: rgb(98, 100, 85);
      margin-top: 5px;
      border-radius: 4px;
      border-style: none;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      margin: 0;
      max-width: none;
      min-height: 44px;
      min-width: 10px;
      outline: none;
      overflow: hidden;
      padding: 9px 20px 8px;
      position: relative;
      text-align: center;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  }
  &__option {
    display: flex;
    position: relative;
    cursor: pointer;
    ion-icon {
      color: #202428;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      pointer-events: none;

      @include mobile {
        font-size: 4vw;
      }
    }

    link {
      &:visited {
        color: #8f98a0;
      }
    }

    &:hover &-list {
      display: block;
    }
    &-list {
      position: absolute;
      top: 20%;
      left: -620%;
      background-color: $background-color;
      padding: 10px 20px;
      border-radius: 2px;
      box-shadow: 1px 1px 1px rgba($color: #fff, $alpha: 0.1);
      @include mobile {
        padding: 3px 5px;
      }
      display: none;
      &:hover {
        background-color: #202428;
      }
      a {
        text-decoration: none;
        font-size: 1.3vw;
        @include tablet {
          font-size: 2vw;
        }
      }
      // background-color: aliceblue;
    }
  }
}
