@import '../scss/variables';

.home {
  width: 100%;
  max-width: 1660px;
  &__title {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    //background-color: antiquewhite;
    margin-top: 30px;
    margin-left: calc($padding + 10px);
    text-decoration: none;
    color: $white-color;
    span {
      font-size: 1.2rem;
      font-weight: 500;
      ion-icon {
        line-height: 35px;
        position: relative;
        top: 3px;
        margin-left: 3px;
        transition: margin 0.3s ease, font-size 0.3s ease, top 0.3s ease;
      }
    }
    &:hover {
      text-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 1.0),
        0 0 20px rgba($color: $primary-color, $alpha: 0.5);
        //0 0 40px rgba($color: $primary-color, $alpha: 1.0);
        ion-icon {
          font-size: 1.2rem;
          margin-left: 10px;
          top: 4px;
        }
    }

    
  }
}