
// .modal-content {
//   transform: scale(0.5);
//   transition: transform 0.5s ease;
// }

.modal__item-trailer {
  position: absolute;
  min-width: 800px;
  min-height: 430px;
  width: 60%;
  height: 70%;
  //box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.5);

  iframe {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 93%;
  }

  &-close {
    position: absolute;
    top: 0px;
    right: -28px;
    cursor: pointer;
    ion-icon  {
      font-size: 30px;
      pointer-events: none;
    }
  }
}