@import '../../scss/variables';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: $black-color, $alpha: 0.4);
  
  display: none;
  cursor: default;

  &.active {
    display: flex;
  }
}