@use "../../scss/breakpoint" as *;
@import "../../scss/variables";

.OrderSuccess {
  font-family: sans-serif;
  text-align: center;
  &-canvas {
    width: 120%;
    height: auto;
  }

  &-container {
    height: 100vh;
    flex-direction: column;
    color: $background-color;
    background: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    ion-icon {
      color: #000;
      font-size: 150px;
    }

    &-thankyou {
      margin-top: 30px;
      font-size: 30px;
    }

    &-notice {
      font-size: 25px;
      padding-bottom: 20px;
    }

    &-button {
      margin-top: 30px;
      width: 25%;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      &-return {
        font-family: Brutal, sans-serif;
        background-color: rgb(28, 28, 28);
        color: #f1f1f1;
        font-size: 16px;
        font-weight: 400;
        align-content: center;
        width: 100%;
        padding: 20px 0px;
        border-radius: 4px;

        align-items: center;
        border: 2px solid #f1f1f1;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        height: 48px;
        justify-content: center;
        letter-spacing: -0.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:focus {
          color: #f1f1f1;
        }

        &:hover {
          border-color: rgb(255, 199, 96);
          color: rgb(255, 199, 96);
          fill: rgb(255, 199, 96);
        }

        &:active {
          border-color: rgb(255, 199, 96);
          color: rgb(255, 199, 96);
          fill: rgb(255, 199, 96);
        }

        @media (min-width: 768px) {
          & {
            min-width: 170px;
          }
        }
      }
    }
  }
}
