@import '../../scss/variables';

 .home__search {
  width: 400px;
  margin: 50px 0 20px $padding;
  height: 50px;
  border-radius: 20px;
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  //overflow: hidden;

  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 10px 10px 30px;
    font-size: 1rem;
    background-color: transparent;
    color: $white-color;
    //background-color: yellow;
  }
  .btn {
    height: 100%;
  }
 }