@use "../../scss/breakpoint" as *;
@import "../../scss/variables";

.home__search {
  width: 400px;
  margin: 50px 0 20px 0; //$padding;
  height: 50px;
  border-radius: 20px;
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  //overflow: hidden;
  @include mobile {
    width: 100%;
  }

  input {
    flex: 8;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 10px 10px 30px;
    font-size: 1rem;
    background-color: transparent;
    color: rgba($color: $white-color, $alpha: 0.7);
    //background-color: yellow;
  }
  .btn {
    flex: 2;
    height: 100%;
  }
}
