@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./scss/_variables.scss";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* color: #f1f1f1; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1a1f24;
  color: #fff;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(159, 159, 159);
}
::-webkit-scrollbar-thumb {
  background: rgba(53, 53, 53, 0.308);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #69696954;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}