$header-height: 94px;
$padding: 150px;
$mobile-width: 600px;
$tablet-width: 1024px;

$white-color: #fff;
$black-color: #000;
$text-color: #fff;
$background-color: #0f0f0f;
$primary-color: yellow;
$purple-color: #701498;
$header-color: rgba($color: #1a1a1a, $alpha: 0.2);
$header-background: #1a1a1a;