$white-color: #fff;
$black-color: #000;
$text-color: #fff;
$background-color: #0f0f0f;
$header-height: 94px;
$primary-color: yellow;
$purple-color: #701498;
$header-color: rgba($color: #1a1a1a, $alpha: 0.2);
$header-background: #1a1a1a;